{:env                              :staging
 :shopify                          {:base-url             "https://prod-ladders.myshopify.com"
                                    :secret               "b1bfe54fdf1c0b911e425c932b30a2da"
                                    :redirects            {:promoted-job "https://prod-ladders.myshopify.com/cart/39677848323:1"}
                                    :full-access          "https://recruit-shop.theladders.com/products/full-access"
                                    :webhook-secrets      {:order-created "469d99eb534f748da41551523bfe81676468c49994904f7a764d2fb077c85df2"}
                                    :products-ids-by-type {:promotion-credit #{10408806979 10408839683 10408815491}}}
 :auth                             {:secret "9dfe44233b735f134e9ba788b3d967a5"}
 :superuser-role-id                4
 :host                             "https://blue-ra.theladders.com"
 :ladders-company-id               1853
 :recruiter-pending-days           7                        ;; days that a recruiter can remain pending and still be visible in admin tool
 :recruiter-pending-escalated-days 180                      ;; days that a recruiter can remain pending escalated and still be visible in admin tool
 :services                         {:auth            {:authenticate                   "http://services.aws.theladders.com/legacy/recruiter-auth/v1/authenticate"
                                                      :impersonate                    "http://services.aws.theladders.com/legacy/recruiter-auth/v1/impersonate"
                                                      :refresh-token                  "http://services.aws.theladders.com/legacy/recruiter-auth/v1/refresh-access-token"
                                                      :invalidate-token               "http://services.aws.theladders.com/legacy/recruiter-auth/v1/invalidate-refresh-token"
                                                      :generate-code                  "http://services.aws.theladders.com/legacy/recruiter-auth/v1/generate-code"
                                                      :verified?                      "http://services.aws.theladders.com/legacy/recruiter-auth/v1/verified"
                                                      :authenticate-via-code          "http://services.aws.theladders.com/legacy/recruiter-auth/v1/authenticate-via-code"
                                                      :generate-forgot-password-token "http://services.aws.theladders.com/legacy/recruiter-auth/v1/generate-forgot-password-token"
                                                      :decrypt-forgot-password-token  "http://services.aws.theladders.com/legacy/recruiter-auth/v1/decrypt-forgot-password-token"
                                                      :change-password                "http://services.aws.theladders.com/legacy/recruiter-auth/v1/change-password"}
                                    :candidate-notes "http://services.aws.theladders.com/legacy/recruiter-notes/v1/"
                                    :jobseekers      {:read                 "http://services.aws.theladders.com/legacy/jobseeker/v1/recruiter-read"
                                                      :read-multi           "http://services.aws.theladders.com/legacy/jobseeker/v1/recruiter-read-multi"
                                                      :suggested-candidates "http://services.aws.theladders.com/legacy/match/v1/suggest-jobseekers"}
                                    :templates       {:create "http://services.aws.theladders.com/legacy/recruiter-email-templates/v1/create"
                                                      :read   "http://services.aws.theladders.com/legacy/recruiter-email-templates/v1/read-all"
                                                      :update "http://services.aws.theladders.com/legacy/recruiter-email-templates/v1/overwrite"
                                                      :delete "http://services.aws.theladders.com/legacy/recruiter-email-templates/v1/delete"}
                                    :jobs            {:read                 "http://lambda.aws.theladders.com/ws/job-app-view/job-interactions"
                                                      :read-multi           "http://lambda.aws.theladders.com/ws/job-app-view/manage-jobs"
                                                      :read-superuser       "http://services.aws.theladders.com/legacy/jobs/v1/"
                                                      :create               "http://services.aws.theladders.com/legacy/job-service/v1/post-job"
                                                      :promotion            "http://services.aws.theladders.com/legacy/job-service/v1/job-promotion"
                                                      :promotion-list       "http://services.aws.theladders.com/legacy/job-service/v1/job-promotion-list"
                                                      :promote              "http://services.aws.theladders.com/legacy/job-service/v1/promote-job"
                                                      :index-es             "http://services.aws.theladders.com/legacy/elastic-import/v1/index-job-application-by-id/"
                                                      :harvest-index-es     "http://lambda.aws.theladders.com/ws/sql-indexer/index-record-by-id"
                                                      :update               "http://services.aws.theladders.com/legacy/jobs/v1"
                                                      :admin-promote        "http://services.aws.theladders.com/legacy/job-service/v1/admin-promote-job"
                                                      :admin-promote-cancel "http://services.aws.theladders.com/legacy/job-service/v1/admin-cancel-job-promotion"
                                                      :application-view     "http://services.aws.theladders.com/legacy/application-viewed/v1/application-viewed"
                                                      :dismiss-candidate    "http://services.aws.theladders.com/legacy/job-application/v1/dismiss-candidate"
                                                      :dismiss-email        "http://services.aws.theladders.com/legacy/application-dismissed/v1/application-dismissed"}
                                    :locations       {:autocomplete "http://services.aws.theladders.com/legacy/location/v1/autocomplete"
                                                      :parser       "http://services.aws.theladders.com/legacy/location/v1/parse-location"}
                                    :company         {:autocomplete "http://lambda.aws.theladders.com/ws/company-new/auto-complete-name"}
                                    :recruiters      {:read                         "http://services.aws.theladders.com/legacy/recruiter/v1"
                                                      :image                        "http://services.aws.theladders.com/legacy/kv/v1/source/recruiter-profile-image/key/"
                                                      :create                       "http://services.aws.theladders.com/legacy/recruiter/v1"
                                                      :update                       "http://services.aws.theladders.com/legacy/recruiter/v1"
                                                      :preapproved-company          "http://services.aws.theladders.com/legacy/recruiter/v1/preapproved-company"
                                                      :email-exists?                "http://services.aws.theladders.com/legacy/recruiter/v1/email-exists"
                                                      :pending-recruiters           "http://services.aws.theladders.com/legacy/recruiter/v1/pending-recruiters"
                                                      :pending-escalated-recruiters "http://services.aws.theladders.com/legacy/recruiter/v1/pending-escalated-recruiters"
                                                      :by-approval-period           "http://services.aws.theladders.com/legacy/recruiter/v1/by-approval-period"
                                                      :make-superuser               "http://services.aws.theladders.com/legacy/recruiter/v1/make-superuser"
                                                      :remove-superuser             "http://services.aws.theladders.com/legacy/recruiter/v1/remove-superuser"
                                                      :admin-note          "http://services.aws.theladders.com/legacy/recruiter/v1/admin-note"
                                                      :create-admin-note   "http://services.aws.theladders.com/legacy/recruiter/v1/create-admin-note"
                                                      :update-admin-note   "http://services.aws.theladders.com/legacy/recruiter/v1/update-admin-note"
                                                      :search                       "http://services.aws.theladders.com/legacy/recruiter/v1/recruiter-search"}
                                    :resumes         {:read          "http://services.aws.theladders.com/legacy/resume/v2/get-resume"
                                                      :unredacted    "http://lambda.aws.theladders.com/ws/resume/resume"
                                                      :read-metadata "http://services.aws.theladders.com/legacy/resume/v2/resume-metadata/"
                                                      :share-data    "http://services.aws.theladders.com/legacy/kv/v1/source/recruiter-resume-share/key/"
                                                      :share-email   "http://services.aws.theladders.com/legacy/mail/v1/send-recruiter-share"
                                                      :convert       "http://resume.aws.theladders.com/user/%d/resume/%d/preview"
                                                      :create-key    "http://services.aws.theladders.com/legacy/resume/v1/create-key/%d/%s"
                                                      :public-resume "http://services.aws.theladders.com/legacy/resume/v1/public-resume/%d/%s"}
                                    :search          {:es "http://lambda.aws.theladders.com/ws/es-custom-search/search"}
                                    :saved-search    {:fetch-one "http://services.aws.theladders.com/legacy/recruiter-saved-search/v1/fetch/"
                                                      :fetch-all "http://services.aws.theladders.com/legacy/recruiter-saved-search/v1/fetch-all/"
                                                      :add       "http://services.aws.theladders.com/legacy/recruiter-saved-search/v1/add"
                                                      :force-add "http://services.aws.theladders.com/legacy/recruiter-saved-search/v1/force-add"
                                                      :update    "http://services.aws.theladders.com/legacy/recruiter-saved-search/v1/overwrite"
                                                      :delete    "http://services.aws.theladders.com/legacy/recruiter-saved-search/v1/delete"}
                                    :taxonomy        {:roles-to-last-specialty-ids  "http://services.aws.theladders.com/legacy/taxonomy/v1/roles-to-latest-specialty-ids"
                                                      :specialties-to-last-role-ids "http://services.aws.theladders.com/legacy/taxonomy/v1/specialties-to-latest-role-ids"
                                                      :role-labels                  "http://services.aws.theladders.com/legacy/taxonomy/v1/roles-labels-version"}
                                    :kafka           {:event          "http://rashomon.aws.theladders.com/modern/v1/event"
                                                      :simple-command "http://rashomon.aws.theladders.com/modern/v1/simple-command"
                                                      :command        "http://rashomon.aws.theladders.com/modern/v1/command"
                                                      :query          "http://rashomon.aws.theladders.com/modern/v1/query/"
                                                      :view           "http://rashomon.aws.theladders.com/modern/v1/view"}
                                    :superuser       {:read-redact-permissions   "http://lambda.aws.theladders.com/ws/recruiter/get-redact-permission"
                                                      :save-redact-permissions   "http://lambda.aws.theladders.com/ws/recruiter/set-redact-permission-dates"
                                                      :remove-redact-permissions "http://lambda.aws.theladders.com/ws/recruiter/remove-redact-permission"}
                                    :inventory       {:read     "http://services.aws.theladders.com/legacy/inventory/v1/get-inventory-info/"
                                                      :purchase "http://services.aws.theladders.com/legacy/inventory/v1/purchase-product"
                                                      :use      "http://services.aws.theladders.com/legacy/inventory/v1/use-product"}
                                    :forward-email   {:initiate-forward "http://lambda.aws.theladders.com/ws/forward-email/initiate-forward-email"
                                                      :email-name       "Jobseeker : Recruiter Message"}
                                    :email-prefs     {:by-id   "http://services.aws.theladders.com/legacy/email-prefs/v1/by-id"
                                                      :by-name "http://services.aws.theladders.com/legacy/email-prefs/v1/by-name"
                                                      :multi   "http://services.aws.theladders.com/legacy/email-prefs/v1/by-id-multi"}
                                    :email           "http://services.aws.theladders.com/legacy/mail/v1/send"
                                    :ats             {:get-settings  "http://lambda.aws.theladders.com/ws/ats/get-ats-settings"
                                                      :save-settings "http://lambda.aws.theladders.com/ws/ats/save-ats-settings"}
                                    :projects        {:project-view            "http://rashomon.aws.theladders.com/modern/v1/query/project-view"
                                                      :project-candidates-view "http://rashomon.aws.theladders.com/modern/v1/query/project-candidates-view"
                                                      :candidate-projects-view "http://rashomon.aws.theladders.com/modern/v1/query/candidate-projects-view"}
                                    :teams           {:read-all         "http://services.aws.theladders.com/modern/recruiter-teams/v1"
                                                      :read-one         "http://services.aws.theladders.com/modern/recruiter-teams/v1"
                                                      :read-by-name     "http://services.aws.theladders.com/modern/recruiter-teams/v1/read-by-name"
                                                      :create           "http://services.aws.theladders.com/modern/recruiter-teams/v1/add-team"
                                                      :update           "http://services.aws.theladders.com/modern/recruiter-teams/v1/update-team"
                                                      :delete           "http://services.aws.theladders.com/modern/recruiter-teams/v1/delete-team"
                                                      :add-admin        "http://services.aws.theladders.com/modern/recruiter-teams/v1/add-admin"
                                                      :remove-admin     "http://services.aws.theladders.com/modern/recruiter-teams/v1/remove-admin"
                                                      :add-recruiter    "http://services.aws.theladders.com/modern/recruiter-teams/v1/add-recruiter"
                                                      :remove-recruiter "http://services.aws.theladders.com/modern/recruiter-teams/v1/remove-recruiter"}}
 :emails                           {:verify-email    "Recruiter: Verify Email"
                                    :forgot-password "Recruiter: Forgot Password"
                                    :change-password "Recruiter: Change Password"
                                    :pending-account "Recruiter: Pending Account"
                                    :onboarding-drip "Recruiter: Onboarding"}
 :interaction                      {:viewed    "recruiter-viewed-candidate-view?key="
                                    :contacted "recruiter-emailed-candidate-view?key="}
 :slack                            {:sales-full-access    "https://hooks.slack.com/services/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"
                                    :recruiter-approvals  "https://hooks.slack.com/services/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"
                                    :referral-hiring      "https://hooks.slack.com/services/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"
                                    :sales-fa-pay-curtain "https://hooks.slack.com/services/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"}
 :hubspot                          {:forms     {:full-access               {:portal-id 3936349
                                                                            :guid      "6d26d872-7f4c-4bfb-961a-2c84ea086ea7"}
                                                :pay-curtain               {:portal-id 3936349
                                                                            :guid      "60104a15-63c3-47ca-ad2a-e163973d6414"}
                                                :pay-curtain-click         {:portal-id 3936349
                                                                            :guid      "fc520fc7-519a-4c30-a23b-250588c61db8"}
                                                :approved-recruiters       {:portal-id 3936349
                                                                            :guid      "0ddc81e4-4e4f-47d6-b60f-5e88358618fe"}
                                                :promotion-credit-purchase {:portal-id 3936349
                                                                            :guid      "54421d1d-3c3e-45b7-8ccd-d80e0fe5d6b8"}}
                                    :api-key   "07e1d9d0-cd81-4543-b593-7b09f4943a28"
                                    :endpoints {:read-forms  "https://api.hubapi.com/forms/v2/forms"
                                                :submit-form "https://forms.hubspot.com/uploads/form/v2/%d/%s"}}
 :lever                            {:base-url       "https://api.lever.co/v1/users"
                                    :base-api-url   "https://api.lever.co/v1"
                                    :save-candidate "/candidates"}
 :greenhouse                       {:base-url       "https://api.greenhouse.io/oauth/authorize"
                                    :secret         "hHoNuayzB6ECF4vDuPFA5nlGueC3drZ1FRydXLby"
                                    :base-api-url   "https://api.greenhouse.io/v1/partner"
                                    :save-candidate "/candidates"}
 :workable                         {:base-api-url   "https://www.workable.com/spi/v3/accounts"
                                    :save-candidate "/candidates"
                                    :jobs           "/jobs"}
 :lambda-server                    {:shopify-order-listener "http://lambda.aws.theladders.com/ws/shopify/handle-webhook"}}
